body{ background-color: #C8E0FE;

}

.service{
    position: relative;
    text-align: justify;
    float: left;
    opacity: 10%;
    transition: 1s;
}

.service:hover{
    opacity: 100%;
    transition: 0.5s;
}
.image img{
    position:relative;
    left:auto;
    top: auto;
}


.text{
    font-size: 2em;
    position:relative;    
    left: 2em;
    top: -4em;

}


.text a{
    color: #951eff;
    text-decoration: none;
}
