body{ background-color: #C8E0FE;

}

details summary{
    list-style-type: none;
}

#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    height: 36%em;
}

.service{
    position: relative;
    text-align: justify;
    float: left;
    opacity: 10%;
    transition: 1s;
}

.service:hover{
    opacity: 100%;
    transition: 0.5s;
}
.image img{
    position:relative;
    left:auto;
    top: auto;
}


.text{
    font-size: 2em;
    position:relative;    
}


.text p{
    color: burlywood;
}

.list{
    position:inherit;
}

.list span{
    font-size: larger;
    color:#0fc0a8;
}

#os{
    list-style-image: url(images/os.png)
}

#clean{
    list-style-image: url(images/spray.png)
}

#mobo{
    list-style-image: url(images/mobo.png)
}

#monitor{
    list-style-image: url(images/screen.png)
}

#keyboard{
    list-style-image: url(images/keyboard.png)
}

#sware{
    list-style-image: url(images/software.png)
}

#contacts{
    bottom: 0%;
    position: fixed;
    right: 0%;

}

#contact-text{
    color: olive;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 1080px) {
    #logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 32%;
    }
    
    .service{
        position: relative;
        text-align: justify;
        float: left;
        opacity: 10%;
        transition: 1s;
    }
    
    .image img{
        position:relative;
        left:auto;
        top: auto;
        width: 40%;
        height: 40%;
    }
    
    
    .text{
        font-size: 1.2em;
        position:relative;    
    }

    #email-image{
        width: 70%;
        height: 70%;
    }

    .list span{
        font-size: large;
        color:#0fc0a8;
    }


    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:#8bbed1;
    }
}