body{ background-color: #C8E0FE;

}

details summary{
    list-style-type: none;
}


.service{
    position: relative;
    text-align: justify;
    float: left;
    opacity: 10%;
    transition: 1s;
}

.service:hover{
    opacity: 100%;
    transition: 0.5s;
}
.image img{
    position:relative;
    left:auto;
    top: auto;
}


.text{
    font-size: 2em;
    position:relative;    
}


.text p{
    color: burlywood;
}

.list{
    position:inherit;
}

.list li{
    list-style: none;
}

.list span{
    color:#0fc0a8;
}